* {
    margin: 0;
    padding: 0;
}


/* 本来可以直接用body，背景不知道要怎么插入 */

.security {
    position: relative;
    display: flex;
    width: 100%;
    height: 812px;
    /* min-width: 375px; */
    background: #F5F5F5;
    /* 子类flex布局 */
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* 超出部分隐藏 */
    overflow: hidden;
}


/* 头 */

.header {
    width: 375px;
    height: 64px;
    /* 字体 */
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    line-height: 64px;
    font-feature-settings: 'ss04' on;
}


/* 显示密码 */

.enter {
    display: flex;
    width: 255px;
    height: 74px;
    /* 子类flex布局 */
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


/* 显示密码文字部分 */

.enter .enter-text {
    width: 164px;
    height: 20px;
    /* 文字 */
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    font-feature-settings: 'ss04' on;
    color: #000000;
}


/* 显示密码小点部分 */

.enter .enter-passcode {
    display: flex;
    width: 225px;
    height: 44px;
    /* 子类flex布局 */
    align-items: center;
    justify-content: space-around;
}


/* 显示密码小点部分的小点 */

.enter .enter-passcode .enter-passcode-box {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #32D74B;
}


/* 输入框 */

.numpad {
    display: flex;
    width: 311px;
    height: 348px;
    /* 子类flex布局 */
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}


/* 输入框按键 */

.numpad .numpad-box {
    width: 75px;
    height: 75px;
    background: #FFFFFF;
    border-radius: 50%;
    /* 文字 */
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    font-feature-settings: 'ss04' on;
    color: #000000;
    /* 图片文字位置 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.numpad .numpad-box img {
    width: 55%;
}

.numpad .numpad-box .numpad-box-delete {
    width: 30%;
}


/* 忘记密码 */

.forgot {
    width: 375px;
    height: 64px;
    /* 字体 */
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 64px;
    text-align: center;
    font-feature-settings: 'ss04' on;
    color: #8E8E93;
}


/* bg */

.background-1 {
    position: absolute;
    pointer-events: none;
    width: 170px;
    height: 170px;
    left: -17%;
    top: -1%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 214, 10, 0.3) 0%, rgba(255, 214, 10, 0) 100%);
}

.background-2 {
    position: absolute;
    pointer-events: none;
    width: 170px;
    height: 170px;
    left: 80%;
    top: 70%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(50, 215, 75, 0.3) 0%, rgba(50, 215, 75, 0) 100%);
}

.background-3 {
    position: absolute;
    pointer-events: none;
    width: 270px;
    height: 270px;
    left: -36%;
    top: 83%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 55, 95, 0.3) 0%, rgba(255, 55, 95, 0) 100%);
}