* {
	margin: 0;
	padding: 0;
}
// 本体
.home {
	position: relative;
	width: 375px;
	height: 812px;
	background: #f5f5f5;
}
// 头
.header {
	position: absolute;
	width: 375px;
	height: 64px;
	left: 0px;
	top: 44px;
	// 子类flex布局
	display: flex;
	justify-content: center;
	align-items: center;
	// 限制边框
	.header-box {
		width: 343px;
		height: 64px;
		// 子类flex布局
		display: flex;
		align-items: center;
		justify-content: space-between;
		// 设置
		.header-box-settings {
			width: 48px;
			height: 44px;
			background: #ffffff;
			border-radius: 12px;
			// 子类flex布局
			display: flex;
			align-items: center;
			justify-content: center;
		}
		// 头像
		.header-box-profile {
			width: 54px;
			height: 54px;
			// 子类flex布局
			display: flex;
			align-items: center;
			justify-content: center;
			// 圆环
			img {
				// 将两张图片重叠
				position: absolute;
			}
			// 头像图片
			.header-box-profile-headPortrait {
				width: 44px;
				height: 44px;
				border-radius: 50%;
			}
		}
		// 消息
		.header-box-notification {
			width: 48px;
			height: 44px;
			background: #ffffff;
			border-radius: 12px;
			// 子类flex布局
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}
// 轮播图
.carousel {
	position: absolute;
	width: 375px;
	height: 290px;
	left: 0px;
	top: 108px;
	// 超出隐藏
	overflow: hidden;
	// 内容
	.carousel-content {
		position: relative;
		width: 965px;
		height: 214px;
		left: -295px;
		top: 16px;
		// 子类flex
		display: flex;
		justify-content: space-between;
		.carousel-content-box {
			width: 311px;
			height: 214px;
			border-radius: 16px;
			&:nth-child(1) {
				background: conic-gradient(from 250.92deg at 50% 50%, #ff375f 0deg, #ff9f0a 360deg);
				order: 1;
			}
			&:nth-child(2) {
				background: conic-gradient(from 250.92deg at 50% 50%, #32d74b 0deg, #ffd60a 360deg);
				order: 2;
			}
			&:nth-child(3) {
				background: conic-gradient(from 250.92deg at 50% 50%, #bf5af2 0deg, #5e5ce6 360deg);
				order: 3;
			}
		}
	}
	// 控制
	.carousel-control {
		position: absolute;
		width: 375px;
		height: 44px;
		left: 0px;
		top: 246px;
		// 子类flex布局
		display: flex;
		justify-content: center;
		align-items: center;
		.carousel-control-frame {
			width: 65px;
			height: 8px;
			// 子类flex布局
			display: flex;
			justify-content: space-between;
			.carousel-control-frame-dot {
				width: 8px;
				height: 8px;
				background: #8e8e93;
				opacity: 0.2;
				border-radius: 50%;
				// 鼠标
				cursor: pointer;
			}
		}
	}
}

// 按键
.buttons {
	position: absolute;
	width: 343px;
	height: 270px;
	left: 16px;
	top: 414px;
	// 子类flex布局
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
	// 大盒子统一样式
	.buttons-bigBox {
		width: 107px;
		height: 74px;
		// 子类flex布局
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-content: space-between;
		// 小盒子统一样式
		.buttons-bigBox-minBox {
			width: 107px;
			height: 44px;
			background: #ffffff;
			border-radius: 12px;
			// 子类flex布局
			display: flex;
			justify-content: center;
			align-items: center;
			img {
				width: 24px;
				height: 24px;
			}
		}
		// 文字统一样式
		.buttons-bigBox-text {
			width: 107px;
			height: 20px;
			// 字体
			font-family: Poppins;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 20px;
			text-align: center;
			font-feature-settings: 'ss04' on;
			color: #8e8e93;
		}
	}
}
// 菜单
.menu {
	position: absolute;
	width: 375px;
	height: 94px;
	left: 0px;
	top: 718px;
	background: #ffffff;
	border-radius: 24px 24px 0px 0px;
	// 子类flex布局
	display: flex;
	.menu-box {
		width: 375px;
		height: 60px;
		// 子类flex布局
		display: flex;
		justify-content: space-around;
		align-items: center;
		// 盒子统一样式
		.menu-box-button {
			width: 107px;
			height: 44px;
			border-radius: 12px;
			// 子类flex布局
			display: flex;
			justify-content: center;
			align-items: center;
			img {
				width: 24px;
				height: 24px;
			}
		}
		// 点击盒子改变样式
		.menu-box-buttonChange {
			background: linear-gradient(71.48deg, #ffd60a 0%, #32d74b 62.9%);
		}
	}
}
